.marqt-shop{
  background-image: image-url('marqt.jpg');
  background-size: cover;
}
.general-picture{
  background-image: image-url('food-circle.jpg');
  background-size: cover;
}
.user-general-info{
  display: flex;
  justify-content: space-around;
}
.ratings-dashboard-list{
  display: flex;
  justify-content: space-around;
}
.ratings-dashboard-list-1{
  margin-bottom: 12px;
  display: flex;
  justify-content: sapace-between;
}
.ratings-dashboard-list-2{
  margin-bottom: 12px;
  display: flex;
  justify-content: sapace-between;
}
.ratings-dashboard-list-3{
  margin-bottom: 12px;
  display: flex;
  justify-content: sapace-between;
}
.product-selection-list{
  text-align: left;
}
// .user-orders{
//   display: flex;
//   justify-content: space-around;
//   margin-right: 100px;
//   margin-left: 100px;
// }
.more-shop-info-1{
  width: 130%;
}
.shop-info_dashboard{
  background-color: rgba(255, 224, 199, 0.8);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 15px;
  color:  black;
  padding: 10px;
  margin:1%;
  text-align: center;
  width: 100%;
}
.shop-logo{
  display: flex;
  justify-content: space-around;
}
.welcome-logo-dashboard{
  margin-right: 10px;
  margin-left: 20px;
  padding-top: 15px;
}
.greeting-dashboard{
  padding-top: 25px;
}
#background-greeting{
  background-color: white;
  padding-bottom: 30px;
}
.scrollbar-items-styling{
   background-color: rgba(255, 224, 199, 0.8);
   border: solid #C5C6C8;
   border-radius: 15px;
}
