.index-container{
  background-image: image-url("uglyfoods.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 10%;
  height: 100vh;
}

.main-search-bar {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  margin-left: 40px;
}

.btn-search-bar {
  background-color: white;
  border: white;
  color: grey;
}

.search-location {
  border: none;
}

.index-pic-bio{
  background-image: image-url("index-fruits.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 10%;
  height: 100vh;
  position: relative;

}

.bottom-left {
    top: 74%;
    text-align: right;
    position: absolute;
    left: 63%;
    color: gold;
      text-shadow: 2px 2px #ff0000;
}
.top-right {
color: black;
   margin-left: 5%;
    position: absolute;
    top: 25%;
    text-shadow: 2px 2px gold;
}

.what-we-do{
  text-align: center;
  background-color: gold;
  padding: 1%;
  color: white;
}

.card-girl{
 background-image: image-url('s3.jpg');
 border-radius: 20px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 margin-left:10%;
 margin-top: 5%;
 margin-bottom: 2%;
 width: 100%;
 height: 100%;

}
.whole-categories{
  background-image: image-url('index-page.png');
 width: 100%;
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.girl-container{
 display:flex;
  align-items: center;
  justify-content: space-between;
}
.our-card{
  background-color: white;
  background-position: center;
   margin-right:10%;
   margin-top: 5%;
   margin-bottom: 2%;
  height: 50%;
  width: 40%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 17px;
  color:  rgba(198, 230, 228, 1);
  padding: 10px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}
.our-card h4{
  font-weight: bolder;
}

#categories-products{

  background-color: white;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 15px;
  color:  rgba(198, 230, 228, 1);
  padding: 10px;
  margin:1%;
  text-align: center;
}
.index-category{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin:5%;
}
.index-category h3{
  font-weight: bolder;
  text-align: center;
}

.whatever{
  padding-top: 80px;
}

.how-it-works{
  text-align: center;
  color: gold;
  font-weight: bolder;
  padding-left: 4%;
}
.steps{
  background-color: white;
  border-radius:20px;
  border-style: solid;
  border-color:rgba(198, 230, 228, 1);
  padding:10px;
  width:40%;
  text-align: center;
  margin: 45px;
  color:rgba(198, 230, 228, 1);
  font-weight: bolder;
  font-size: 20px;
}
.app-steps{
  display: flex;
  justify-content: space-between;
}
.carrots{
  image: image-url('carrot.png');
}

.app-description{
    display: flex;
  justify-content: space-between;
}

.description{
  background-color: #C1BFD7;
  border-radius:20px;
  border-style: solid;
  border-color:white;
  padding:10px;
  width:40%;
  text-align: center;
  margin: 45px;
  color:white;
  font-size: 17px;
}


.app-carrots {
display: grid;
grid-template-columns: repeat(9, 1fr);
margin-left: 52px;
margin-right: 52px;
}


.app-carrots .image-wrapper img {
  max-width: 100%;
  border-style: solid;
  border-color:#C6E7E5;
  border-radius: 20px;
}

.actual-line {
    width: 100%;
    height: 4px;
    display: block;
    background-color: #C6E7E5;
}


.line {
  display: flex;
  align-items: center;
}


.search-item {
  padding: 10px;
}

.index-map{
  text-align: center;
  background-color: gold;
  color: white;


}
.dropdown{
  margin-top: 5px;
  margin-bottom: 5px;
  height: 10%;
}
