.welcome-home{
margin-left: 8%;
color: #ACE1F6;
text-shadow: 2px 2px black;
position: absolute;
left: -40px;
top: 40px;
}

.welcome h1{
font-family: 'Fjalla One', sans-serif;
}

.tracking-in-contracts.animating{
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contracts {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contracts {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.tracking-in-contractz.animating {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contractz {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contractz {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}




.tracking-in-contract.animating {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}


.index-container{
  // background-image: image-url("uglyfoods.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 10%;
  height: 87vh;

}
.main-search-bar {
  background-color: rgba(255,255,255,1);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;

}

.main-search-bar-home{
  background-color: rgba(255,255,255,1);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  width: 690px !important;
  justify-content: space-between;
  box-shadow: 5px 5px 10px 2px rgba(128,128,128,0.5);
}

.btn-search-bar {
  background-color: white;
  border: white;
  color: #4C4B60;
}

.search-location {
  border: none;
}

.index-pic-bio{
  background-image: image-url("index-fruits.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 10%;
  height: 100vh;
  position: relative;
}

.bottom-left {
    top: 74%;
    text-align: right;
    position: absolute;
    left: 63%;
    color: gold;
      text-shadow: 2px 2px #ff0000;
}

.top-right {
color: black;
   margin-left: 5%;
    position: absolute;
    top: 25%;
    text-shadow: 2px 2px gold;
}

.what-we-do{
  text-align: center;
  padding: 2%;
  background-color:#B4E4F7;
}

.what-we-do h2 {
  font-style: bolder;
  font-size: 60px;
}



.card-girl{
 background-image: image-url('s3.jpg');
 border-radius: 20px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 100%;
 margin-right: 70px;
}

.whole-categories{
// background-image: image-url('index-page.png');
background-color: white;
 width: 100%;
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 padding-top:5%;
 padding-bottom:5%;

}

.our-card{
  box-shadow: 5px 5px 10px 2px rgba(87,89,90,0.1);
  background-color: white;
  background-position: center;
  width: 40%;
  border-radius: 20px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 17px;
  color:  rgba(198, 230, 228, 1);
  padding: 30px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;

}
.our-card h4{
  font-weight: bolder;
  font-size: 28px;
}







#categories-products{
  background-color: white;
  border-radius: 20px;
  font-size: 15px;
  padding: 30px;
  color:  #4C4B60;
  // border: 0.2px solid lightgrey;
  margin:1%;
  text-align: center;
  width: 35%;
}

#categories-products h3{
  color:#FBAB7E
}



.scale-up-centerz.animating {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-centerz {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-centerz {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}



.index-category{
  display:flex;
  align-items: center;
  justify-content: space-between;
  // border: 0.2px solid #FBAB7E;
  border-radius: 20px;
  margin-right: 40px;
  margin-left: 40px;
}
.index-category h3{
  font-weight: bolder;
  text-align: center;
}
.whatever h4{
  padding-top: 30px;
  color: #FBAB7E;
}

.whatever p{
  color: #4C4B60;
  font-size: 15px;
}

.how-ugly {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}

.how-it-works{
  margin: auto;
  margin-bottom: 40px;
  margin-top: 60px;
  width: 30%;
  padding: 10px 20px 10px 20px;
  box-shadow: 6px 6px 12px 5px rgba(156,191,191,0.1);
  text-align:center;
  border-radius: 20px;
  color: white;
  background-color: #B4E4F7;
  font-size: 35px;
  font-weight: bolder;
}

.bounce-top{
  background-color: white;
  border-radius:20px;
  box-shadow: 6px 6px 12px 5px rgba(191,191,191,0.1);
  padding:10px;
  width:40%;
  text-align: center;
  margin: 45px;
  color:white;
  font-weight: bolder;
  font-size: 20px;
}
.app-steps{
  display: flex;
  justify-content: space-between;
  margin:1% 7% 1% 7%;

}
.carrots{
  image: image-url('carrot.png');
}
.app-description{
    display: flex;
  justify-content: space-between;
  margin:0% 7% 0% 7%;
}
.description{
  border-radius:20px;
  box-shadow: 6px 6px 12px 5px rgba(191,191,191,0.1);
  padding:10px;
  width:40%;
  text-align: center;
  margin: 2%;
  color:#4C4B60;
  font-size: 17px;
}
.app-carrots {
display: grid;
grid-template-columns: repeat(9, 1fr);
margin-left: 52px;
margin-right: 52px;
margin:1% 10% 1% 11%;

}



.app-carrots .image-wrapper img {

  max-width: 100%;
  // border-style: solid;
  // border-color:#C6E7E5;
  // border-radius: 20px;
  margin-left: 2%;

}

.actual-line {
    width: 100%;
    height: 4px;
    display: block;
    background-color: #C6E7E5;
}
.line {
  display: flex;
  align-items: center;
}
.search-item {
  padding-bottom: none;
}
.index-map{
  text-align: center;
  background-color:white  ;
}

.dropdown{
  margin-top: 5px;
  margin-bottom: 5px;
  height: 10%;
}

h1, h2, h3, h4, h5, h6, p, a, body {
  font-family: 'Nunito', sans-serif;
}
 // &:hover {
 //    z-index: 5;
 //    box-shadow: 0px 13px 30px -15px #000000;
 //    transform:translateY(-10px);
 //  }
// <------------------------------------------Footer CSS
footer{
  width: 100%;
  position: relative;
  height: 200px;
  background-color: white;
}
a {
  color: #4d4d4d;
  text-decoration: none;
}

.fb a, .fb:before, .fb { background: #3b5999; color: #3b5999; }
.tw a, .tw:before, .tw { background: #55acee; color: #55acee; }
.in a, .in:before, .in { background: #e4405f; color: #e4405f; }
.gh a, .gh:before, .gh { background: #333333; color: #333333; }



ul#buttons {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
}

ul#buttons:before {

  font-size: 2em;
  font-family: Arial;
  font-weight: 300;
  color: #4d4d4d;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -60px;
}

ul#buttons li {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  box-sizing: border-box;
  background: transparent;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  transition: .5s;
  box-shadow: 0px 8px 16px -6px,
        0px 0px 16px -6px;
}

ul#buttons li a {
  display: block;
  widows: 100%;
  height: 100%;
  font-size: 1.25em;
  background: transparent;
  transition: .5s;
  animation: icon-out .5s forwards;
  animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}

ul#buttons li:before {
  content: "";
  width: 90px;
  height: 90px;
  display: block;
  position: absolute;
  transform: rotate(-45deg) translate(-110%, -23px);
  z-index: -2;
  animation: back-out .5s forwards;
  animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}

ul#buttons li:hover a  {
  animation: icon-in .5s forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1.6);
}

ul#buttons li:hover:before  {
  animation: back-in .5s forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1.6);
}

@keyframes back-in {
    0% { transform: rotate(-45deg) translate(-110%, -23px); }
  80% { transform: rotate(-45deg) translate(5%, -23px); }
  100% { transform: rotate(-45deg) translate(0%, -23px); }
}

@keyframes back-out {
    0% { transform: rotate(-45deg) translate(0%, -23px); }
  20% { transform: rotate(-45deg) translate(5%, -23px); }
  100% { transform: rotate(-45deg) translate(-110%, -23px); }
}

@keyframes icon-in {
    0% { font-size: 1.25em; }
  80% { color: #fff; font-size: 1.5em; }
  100% { color: #fff; font-size: 1.35em; }
}

@keyframes icon-out {
  0% { color: #fff; font-size: 1.35em; }
  20% { color: #fff; font-size: 1.5em; }
  100% { font-size: 1.25em; }
}

.home_video {
   width: 100vw;
   height: 100vh;
   position: absolute;
   display: flex;
   justify-content: center;
   object-fit: cover;
   top: 0;
   z-index: -2;
}

.scroll-down{
  position: absolute;
  width: 150px;
  bottom: 20px;
  left: 50%;
  margin-left: -75px;
  z-index: 50;
  display: block;
  text-align: center;
  font-size: 12px;
}

.scroll-down .icon {
    transition: all .3s ease;
    width: 26px;
    height: 44px;
    display: block;
    border-radius: 13px;
    border: 2px solid #b3b3b3;
    margin: 0 auto;

}

#test-for {
  transform: none !important;
  left: -55px !important;
}

#test-for fieldset.search_fruits_and_veggies {
      padding: 5px;
}

#test-for fieldset.search_flowers {
      padding: 5px;
}

#autocomplete {
  width: 95%;
    margin: 0 auto;
    display: block;
    border: 1px solid rgba(100,100,100,0.5);
}

.scroll-down .icon:before {
  -webkit-transition: all .3s ease;
  width: 6px;
  height: 6px;
  animation: scrollDownKnobAnimation 2s ease infinite;
  position: absolute;
  top: 6px;
  border-radius: 50%;
  background-color: #b3b3b3;
  content: '';
  left: 50%;
  margin-left: -3px;
}

.scroll-down span {
    transition: all .3s ease;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: -24px;
}

.scroll-down, .scroll-down:active, .scroll-down:focus, .scroll-down:hover, .scroll-down:visited, a, a:active, a:focus, a:hover, a:visited {
    text-decoration: none;
}

.carrot-image{
  width: 108px;
  margin: none;
}

.landing-photo-2{
  background-image: image-url('landing-page.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  height:100vh;
  position: relative;
}

.landing-photo-2 h3{
  font-size:40px;
  color: #B4E4F7;
  position: absolute;
  top: 50px;
  right: 50px;
  }


.landing-photo-2 p{
  font-size:40px;
  color: #FBAB7E;
  position: absolute;
  bottom: 100px;
  left: 50px;

  }

.what-we-do-title{
  background-color:  #B4E4F7;
  text-align:center;
  border-radius: 20px;
  font-size: 40px;
  color: white;
  margin-bottom: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 5px 5px 10px 2px rgba(87,89,90,0.1);
  width: 800px;
}

.what-we-do-title h2 {
font-weight: bolder;
}

#test-for {
  top: 54px !important;
  left: 2px !important;
}

.form-group.select.required.search_km {
  margin-top: 20px;
}

.form-group.string.required.search_location{
  margin-top: 20px;
}

#autocomplete-flowers {
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  border: 0.4px solid #B4E4F7;
  margin: 5px;
}

#autocomplete {
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  border: 0.4px solid #B4E4F7;
  margin: 5px;
}

.home-banner {
  background-image: image-url("home1.png");
  background-size: cover;
  height: 100vh;
}

.log-in-prompt {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(201,197,199,0.8);
}

.log-in-prompt:hover {
  background-color: #B4E4F7;
}

.help-us-button {
  width: 250px;
  text-align: center;
  color: white;
  background-color: rgba(255,255,255,0.6);
  border: 0.4px solid white;
  padding: 10px 5px 8px 10px;
  border-radius: 20px;
}

.user-button-main{
  position: absolute;
  top: 20px;
  right: 20px;
}

.help-us-button:hover {

  background-color: #B4E4F7;
  cursor: pointer;
}

.main-home-stuff {
  position: relative;
  left: 15%;
  top: 15%;
}

.nav-bar-global {
  background-color: #ECF9FE;
}

.index-card-info {
  margin: 20px;
}

.index-flower {
  box-shadow: 6px 6px 12px 5px rgba(116,188,54,0.5);
}

.index-old {
  box-shadow: 6px 6px 12px 5px rgba(233,112,148,0.5);
}

.index-ugly {
  box-shadow: 6px 6px 12px 5px rgba(110,39,32,0.5);
}
