.index-container{
  // background-image: image-url("uglyfoods.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 10%;
  height: 87vh;
}
.main-search-bar {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  margin-left: 40px;
}

.main-search-bar-home{
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  margin-left: 380px;
  margin-bottom: 100px;
  width: 50%;
  justify-content: space-between;
}

.btn-search-bar {
  background-color: white;
  border: white;
  color: grey;
}
.search-location {
  border: none;
}
.index-pic-bio{
  background-image: image-url("index-fruits.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 10%;
  height: 100vh;
  position: relative;
}
.bottom-left {
    top: 74%;
    text-align: right;
    position: absolute;
    left: 63%;
    color: gold;
      text-shadow: 2px 2px #ff0000;
}
.top-right {
color: black;
   margin-left: 5%;
    position: absolute;
    top: 25%;
    text-shadow: 2px 2px gold;
}
.what-we-do{
  text-align: center;
  padding: 2%;
  background-color:#FBAB7E;
}

.what-we-do h2 {
  font-style: bolder;
  font-size: 60px;
}
.card-girl{
 background-image: image-url('s3.jpg');
 border-radius: 20px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 margin-left:10%;
 margin-top: 5%;
 margin-bottom: 2%;
 width: 100%;
 height: 100%;
}
.whole-categories{
// background-image: image-url('index-page.png');
background-color: white;
 width: 100%;
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 padding-top:5%;
 padding-bottom:5%;

}
.girl-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin:0% 10% 0% 10%;
  height: 90vh;
  padding-bottom: 4%;
}
.our-card{
  background-color: white;
  background-position: center;
   margin-right:10%;
   margin-top: 5%;
   margin-bottom: 2%;
  height: 50%;
  width: 40%;
  border: 0.2px solid lightgrey;
  border-radius: 20px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 17px;
  color:  rgba(198, 230, 228, 1);
  padding: 10px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}
.our-card h4{
  font-weight: bolder;
  font-size: 28px;
}
#categories-products{
  background-color: white;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 6px 6px 12px 5px rgba(191,191,191,0.1);
  font-size: 15px;
  color:  #4C4B60;
  // border: 0.2px solid lightgrey;
  padding: 10px;
  margin:1%;
  text-align: center;
  width: 35%;
}

#categories-products h3{
  color:#FBAB7E
}

.index-category{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin:5% 10% 1% 10%;
  // border: 0.2px solid #FBAB7E;
  border-radius: 20px;
}
.index-category h3{
  font-weight: bolder;
  text-align: center;
}
.whatever h4{
  padding-top: 30px;
  color: #FBAB7E;
}

.whatever p{
  color: #4C4B60;
  font-size: 15px;
}

.how-it-works{
  border: 2px solid  #FBAB7E;
  text-align:center;
  margin-right: 38%;
  margin-left: 38%;
  border-radius: 20px;
  padding-top:0.7%;
  margin-top: 5%;
  color: #FBAB7E;

}

.how-it-works h2 {
  font-size: 35px;
  font-weight: bolder;
}

.bounce-top{
  background-color: white;
  border-radius:20px;
  box-shadow: 6px 6px 12px 5px rgba(191,191,191,0.1);
  padding:10px;
  width:40%;
  text-align: center;
  margin: 45px;
  color:#FBAB7E;
  font-weight: bolder;
  font-size: 20px;
}
.app-steps{
  display: flex;
  justify-content: space-between;
  margin:1% 7% 1% 7%;

}
.carrots{
  image: image-url('carrot.png');
}
.app-description{
    display: flex;
  justify-content: space-between;
  margin:0% 7% 0% 7%;
}
.description{
  border-radius:20px;
  box-shadow: 6px 6px 12px 5px rgba(191,191,191,0.1);
  padding:10px;
  width:40%;
  text-align: center;
  margin: 2%;
  color:#4C4B60;
  font-size: 17px;
}
.app-carrots {
display: grid;
grid-template-columns: repeat(9, 1fr);
margin-left: 52px;
margin-right: 52px;
margin:1% 10% 1% 11%;

}



.app-carrots .image-wrapper img {

  max-width: 100%;
  // border-style: solid;
  // border-color:#C6E7E5;
  // border-radius: 20px;
  margin-left: 2%;

}

.actual-line {
    width: 100%;
    height: 4px;
    display: block;
    background-color: #C6E7E5;
}
.line {
  display: flex;
  align-items: center;
}
.search-item {
  padding: 10px 0px;
  margin-top: 17px;
}
.index-map{
  text-align: center;
  background-color:white  ;
}

.dropdown{
  margin-top: 5px;
  margin-bottom: 5px;
  height: 10%;
}

h1, h2, h3, h4, h5, h6, p, a, body {
  font-family: 'Nunito', sans-serif;
}
 // &:hover {
 //    z-index: 5;
 //    box-shadow: 0px 13px 30px -15px #000000;
 //    transform:translateY(-10px);
 //  }
// <------------------------------------------Footer CSS
footer{
  width: 100%;
  position: relative;
  height: 20%;
  background-color: gold;
}
.socials {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin:0;
  padding:0;
  display:flex;
}

.socials li {
  list-style: none;
}

.socials li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}
.socials li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}
.socials li a .fab {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #C6E7E5;
  transition: .5s;
}
// .socials li:nth-child(1) a:hover .fab {
//   color: #3b5998;
// }
// .socials li:nth-child(2) a:hover .fab {
//   color: #00aced;
// }
// .socials li:nth-child(3) a:hover .fab {
//   color: #dd4b39;
// }
// .socials li:nth-child(4) a:hover .fab {
//   color: #007bb6;
// }
// .socials li:nth-child(5) a:hover .fab {
//   color: #e4405f;
// }

// .rotate-in-center {
//   -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
//           animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
// }

// @-webkit-keyframes rotate-in-center {
//   0% {
//     -webkit-transform: rotate(-360deg);
//             transform: rotate(-360deg);
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: rotate(0);
//             transform: rotate(0);
//     opacity: 1;
//   }
// }
// @keyframes rotate-in-center {
//   0% {
//     -webkit-transform: rotate(-360deg);
//             transform: rotate(-360deg);
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: rotate(0);
//             transform: rotate(0);
//     opacity: 1;
//   }
// }

.home_video {
   width: 100vw;
   height: 100vh;
   position: absolute;
   display: flex;
   justify-content: center;
   object-fit: cover;
   top: 0;
   z-index: -2;
}

.scroll-down{
  position: absolute;
  width: 150px;
  bottom: 20px;
  left: 50%;
  margin-left: -75px;
  z-index: 50;
  display: block;
  text-align: center;
  font-size: 12px;
}

.scroll-down .icon {
    transition: all .3s ease;
    width: 26px;
    height: 44px;
    display: block;
    border-radius: 13px;
    border: 2px solid #b3b3b3;
    margin: 0 auto;
}

.scroll-down .icon:before {
  -webkit-transition: all .3s ease;
  width: 6px;
  height: 6px;
  animation: scrollDownKnobAnimation 2s ease infinite;
  position: absolute;
  top: 6px;
  border-radius: 50%;
  background-color: #b3b3b3;
  content: '';
  left: 50%;
  margin-left: -3px;
}

.scroll-down span {
    transition: all .3s ease;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: -24px;
}

.scroll-down, .scroll-down:active, .scroll-down:focus, .scroll-down:hover, .scroll-down:visited, a, a:active, a:focus, a:hover, a:visited {
    text-decoration: none;
}

.carrot-image{
  width: 108px;
  margin: none;
}

.landing-photo-2{
  background-image: image-url('landing-page.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  height:100vh;
}

.landing-photo-2 h3{
  font-size:40px;
  color: rgba(198, 230, 228, 1);
  padding-top: 5%;
  padding-left: 65%;
  padding-right:5%;
  }

.landing-photo-2 p{
  font-size:40px;
  color: #FBAB7E;
  padding-top: 22%;
  padding-left: 5%;
  padding-right: 65%;

  }

.what-we-do-title{
  border: 2px solid  #FBAB7E;
  text-align:center;
  margin-right: 38%;
  margin-left: 38%;
  margin-bottom: 2%;
  border-radius: 20px;
  padding-top:0.7%;
  font-size: 40px;
  color: #FBAB7E;

}

.what-we-do-title h2 {
font-weight: bolder;
}
