.shop-info {
     background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 1%;
}

.shop-image-rating {
  margin-right: 20px;
}

.calculated-rating {
  padding-right: 10px;
  color: white;
  background-color: #C7E8E6;
  border-radius: 20px 0px 0px 20px;
  padding-left: 15px;
  margin-right: 6px;
}

.rating-index .fa-star {
  padding: 2px;
  color: #C7E8E6;
}

.rating-index {
  padding-top: 5px;
}

.name-and-distance {
  background-color:#FBAB7E  ;
  background-image:linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  padding: 15px;
  border-radius: 10px;
  color :black;
}

.more-shop-info {
  width: 100%;
}

.scrollbar-index {
  height: 100px;
  float: right;
  overflow-y: scroll;
  margin-bottom: 25px;
  margin-right: 20px;
  background-color: #FBFDFE;
  margin-left: 10px;
}

.force-overflow {
  min-height: 400px;
}

.scrollbar-items {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
}

.scroll-icons {
  height: 60px;
  width: 60px;
}

.produce {
  margin-top: 20px;
  padding-top: 10px;
}

p.produce-name {
  font-size: 14px;
  border-radius: 15px;
  border: 0.5px solid #E5E6E6;
  padding: 8px 20px 8px 20px;
  margin-bottom: 2px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  color: #A8A9A8;}

 p.produce-name.searched-items{
  background-color:#C7E8E6;
  color:black;
}

.shops-index {
  width: 90%;
}

.heartbeat {
  -webkit-animation: heartbeat 3.5s ease-in-out 2s infinite both;
          animation: heartbeat 3.5s ease-in-out 2s infinite both;
  }

.dropdown-product
{
color: #555;
margin: 3px -22px 0 0;
width: 143px;
position: relative;
height: 17px;
text-align:left;
}
.submenu
{
background: #fff;
position: absolute;
top: -12px;
left: -20px;
z-index: 100;
width: 135px;
display: none;
margin-left: 10px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdown-product li a
{
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdown-product li a:hover
{
background:#155FB0;
color: #FFFFFF;
text-decoration: none;
}
a.account
{
font-size: 11px;
line-height: 16px;
color: #555;
position: absolute;
z-index: 110;
display: block;
padding: 11px 0 0 20px;
height: 28px;
width: 121px;
margin: -11px 0 0 -10px;
text-decoration: none;
background: url(icons/arrow.png) 116px 17px no-repeat;
cursor:pointer;
}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede;
}

.visit-shop-text{
  margin-top: 30%;
  color: black;
}

.index-page{
  background-color: whitesmoke;

}

.heartbeat {
  -webkit-animation: heartbeat 3.5s ease-in-out 2s infinite both;
          animation: heartbeat 3.5s ease-in-out 2s infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.visit-shop-text{
 padding-top:  50px;
 text-decoration: none;
}
