.shop-owner-main {
  background-color: #FCF5F2;
  width: 100%;
}

#v-pills-home {
  background-color: white;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.shop-orders {
  background: white;
  padding: 40px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.order-shop {
  background-color: #FEFAF2;
  box-shadow: 5px 5px 5px 5px rgba(255,221,184,0.1);
  margin-bottom: 3px;
  padding: 10px;
}

.shop-owner-stats {
  border: 1px solid black;
  padding: 20px;
  border-radius: 15px;
  width: 50%;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.product-card {
  margin-bottom: 3px;
  border: 1px solid grey;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 20px;
}
