.shop-owner-main {
  width: 100%;
  color: black;
}

.shop-owner-stats {
  margin-bottom: 40px;
}

.shop-orders {
  padding: 40px;
  width: 480px;
  border-radius: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.shop-orders.upcoming {
  background: #F5AB7E;
}

.shop-orders.past {
  background: #E3DFDC;
}

.order-shop {
  margin-bottom: 3px;
  padding: 10px;
}

.product-card {
  margin-bottom: 5px;
  padding: 20px;
  padding-bottom: 20px;
  border-radius: 40px;
  box-shadow: 5px 5px 10px 2px rgba(87,89,90,0.1);

}

.notification-message{
  color: black;
}

.shop-owner-stats-2 {
  background: rgb(245,171,126);
  background: linear-gradient(180deg, rgba(245,171,126,1) 3%, rgba(255,229,160,1) 100%);
  color: white;
  padding: 20px;
  border-radius: 15px;
  width: 50%;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 10px 2px rgba(87,89,90,0.08);
}

.shop-owner-stats-1 {
  box-shadow: 5px 5px 10px 2px rgba(87,89,90,0.08);
  border-radius: 15px;
  margin-top: 40px;
  padding: 20px;
  margin-right: 30px;
}

.back-to-store {
  background-color: #F9C78F;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

.shop-owner-feedback-card{
  box-shadow: 5px 5px 10px 2px rgba(87,89,90,0.05);
  padding: 15px;
  border-radius: 15px;
}

.scroll-bar-owner {
  height: 200px;
  overflow-y: scroll;
  min-width: 500px;
}

.scrollbar-owner {
  height: 200px;
  overflow-y: scroll;
  min-width: 500px;
}

.all-owner-order-info {
  padding: 20px;
  border-radius: 20px;
}

.grouped-owner-cart {
  box-shadow: 5px 5px 10px 3px rgba(87,89,90,0.08);
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius:20px;
  background-color: white;
  margin-bottom: 5px;
}

.scrollbar-products-owner {
  height: 700px;
  overflow-y: scroll;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: #EB4964;
  color: white;
  padding: 10px 15px 10px 15px;  border-radius: 25px;

}

.nav-tabs .nav-link {
  border: 1px solid #EB4964;
  border-radius: 25px;
  color: #EB4964;
  margin: 10px;
}


.nav-link.prod {
  border: 1px solid #EB4964;
  border-radius: 25px;
  color: #EB4964;
  margin: 5px;
}

.nav-link.prod:hover {
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  border: 1px solid #EB4964;
  color: #EB4964;
}

.card-body-add-dropdown {
  border-radius: 20px;
  margin-top: 10px;
}

.form-control.is-valid {
  background-image: none;
}

.btn.add-stock {
  padding: 10px;
  box-shadow: 5px 5px 10px 3px rgba(30,29,38,0.08);
  border-radius: 20px;
}

.delete-stock-item {
  background-color: #92A6AD;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
}

.delete-stock-item:hover {
  background-color: #637278;
}

.shop-existing-products {
  max-height: 500px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.form-control.edit-prod {
  background-color: grey;
}

.form-control.edit-prod {
  background-color: grey;
}

input#product_total_units {
  background-color: #C4CFD3;
  width: 100px;
  color: white;
  margin: 5px;
}

input#product_total_kg {
  background-color: #C4CFD3;
  width: 100px;
  color: white;
}

select#product_status {
  background-color: #C4CFD3;
  width: 100px;
  color: white;
}

input#product_price_per_unit {
  background-color: #C4CFD3;
  width: 100px;
  color: white;
  margin: auto;
}


input#product_discount_percent {
  background-color: #C4CFD3;
  width: 100px;
  color: white;
  margin: auto;
}

select#product_produce_type_id {
  background-color: #C4CFD3;
  width: 200px;
  color: white;
  margin: 5px;
}

.edit-prod.btn {
  border-radius: 20px;
  background-color: rgb(245,171,126);
  box-shadow: 5px 5px 10px 3px rgba(30,29,38,0.08);
  color: white;
  padding: 5px 10px 5px 10px;
}
