.carts-user-dash {
  border: 0.5px solid grey;
  padding: 20px;
  border-radius: 10px;
}

.all-orders {
  width: 60%;
}

.upcoming-org-shop {
  background-color: white;
  border: 0.2px solid lightgrey;
  padding: 30px;
  border-radius: 10px;
  margin: 0;
}

.scrollbar-user-dash {
  height: 400px;
  overflow-y: scroll;
}
