 <div class="chat-container">

  <% unless chatroom.messages[0] %>
     <h1> You have no chat history</h1>
   <% end %>

  <div class="responses-box">
    <div class = "responses">
      <div id="messages" data-chatroom-id="<%= chatroom.id %>">
        <% chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center" style="margin-top: 20px;padding-top: 10px;">
    <%= render "messages/message_form", chatroom: chatroom, shop: shop, message: message %>
  </div>

</div>


