
<%= link_to new_user_session_path do%>
  <p class="log-in-prompt" style="width: 80px; text-align: center; color: white; border: 0.4px solid white; padding: 5px 10px 5px 10px; border-radius: 15px; background-color: #B4E4F7;"> Log in </p>
<% end %>
