<div class="btn-group">
  <button type="button" class="btn dropdown-toggle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position:relative; color: #4C4B60;">
    <i class="fas fa-user fa-2x" style="color:#B4E4F7; padding-top: 20px; text-shadow: 2px 2px black;"></i>
  </button>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
</div>
