

<div class = " index-container">
  <div class="landing-page-one">
   <div class="search-bar">
    <input type="text" class="searchTerm" placeholder="What are you looking for?">
    <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>
</div>

<div class="index-pic-bio">
  <div class="top-right">
    <font size="+3">Dont judge a fruit by its cover</font></div>
    <div class="bottom-left">
     <font size="+2">We are all the same on the inside</font></div>
   </div>
   <div class="what-we-do">
    <h1>What we do hommies</h1>
  </div>


    <div class="what-we-do-info">
<div class="index-card-group col-md-3">
   <div class="card-index">
    <img class="card-img-top">
    <div class="card-body">We are</h5>
      <p class="card-text">an amazing startup trying to make the world a better and greener place</p>
    </div>
  </div>

  <div class="card-index-girl">
    <img class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Ugly foods</h5>
      <p class="card-text">TApproximately 20% of all fruits and vetegables get thrown away for cosmetic imperfections. Let’s not feed in to that... instead let’s feed ourselves, for cheaper!.</p>
    </div>
  </div>
  <div class="card-index">
    <img class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Odlies but goldies</h5>
      <p class="card-text">Their clock may be ticking, but let’s still give them a chance. Our oldies are fruits and vegetables that are going bad soon, but are still in their prime. Let’s not let them go to waste..</p>
    </div>
  </div>
  <div class="card-index">
    <img class="card-img-top">
    <div class="card-body">Flowers</h5>
      <p class="card-text">Flowers have a short life span. Let’s take a load off our local flower shops and decorate our homes. If flowers are nearing their due date, shopowners will upload them to Ugly Foods to make sure they find a home.</p>
    </div>
  </div>


</div>
</div>
<div class="seperator">
<div class = "how-it-works"> <h1> How it works</h1></div>
<div class="flow">
  <div class="column">
    <div class="card-how-it">Log in</div>
  </div>
  <div class="column">
    <div class="card-how-it">Search</div>
  </div>
  <div class="column">
    <div class="card-how-it">Add to cart</div>
  </div>
  <div class="column">
    <div class="card-how-it">Calendar Check</div>
  </div>
  <div class="column">
    <div class="card-how-it">Pay</div>
  </div>
</div>
</div>

