.cart-page{
  background-color: white;
  max-height: 50%;
  border-radius:20px;
  margin-left: 5%;
}

.cart-card-index{
  display: flex;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  margin-bottom: 3%;
  background-color:white ;
  color:#4C4B60;
}


.cart-name{
  width: 20%;

}
.cart-logo{
 width: 10%;
  img{
    height:5%;
    width: 40px;
    object-fit: cover;
    justify-content: space-around;
    border-radius:50%;

    }

}
.cart-quantity-index{
  margin-left: 7%;
  margin-right: 7%;
}

.cart-price{

    display: flex;



}
.confirm-pay{
  margin-bottom: 10%;
  margin-top: 8%;
  text-align: center;
}


.payment-method{
  background-image: -webkit-linear-gradient(330deg, #f6d365 0%, #fda085 100%);
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border-radius: 20px;
  padding: 20px;
}
.info-content{
  min-height: 1vh;
}
.price-per-shop{
  text-align: right;
}
.grand-total{
  text-align: right;

  font-size: 20px;

}
.user-intro{
  text-align: center;
}
.cart-show-index{
  background-color: #EBF9FD;
}
.second-index{
  background-color: white;
  border-radius: 40px;
  margin-right:95px;
  margin-left:95px;
  margin-bottom:10px;
  margin-top: 10px;
  padding: 100px;
  position: relative;
}
.nav-card {

  color:white;}
  .nav-item1{

  color:black;
width: 100%;}


.credit-card{
   text-align:center;
   background-color: white;
 }

#fruit-slide{
  position: absolute;
  top: 76%;
  left: 45%;
  opacity: 0;
  pointer-events: none;
}

.slide-out-elliptic-top-bck {
    opacity: 1;
  -webkit-animation: slide-out-elliptic-top-bck 1.5s ease-in both;
          animation: slide-out-elliptic-top-bck 1.5s ease-in both;
    transition: opacity 200ms ease;
}

@-webkit-keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}

#cart_pick_up_date{
  background-color: rgba(0, 0, 0, 0.07);
  color: #6c757d;
}

// .confirm-pay-submit{
//     background-color: #F5AD7D;
//     color: white;
//     border-radius: 15px;
//     border: none;
//     box-shadow: 3px 3px 4px 2px rgba(191, 191, 191, 0.5);
//   }

.confirm-pay-submit{
  padding: 4px;
  background-color: #F5AD7D;
  border-radius: 14px;
  color:white;
  border: none;
  box-shadow: 3px 3px 4px 2px rgba(191, 191, 191, 0.5);
  font-weight: bolder;}


.total-cart {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  padding: 40px;
}

.cart-container {
  margin: 30px;
  padding-right: none;
  padding-left: 20px;
}

input#cart_pick_up_date{
  background-color: #FDFDFD;
  padding-left: 20px;
  padding-right: 20px;
}

.all-cart-card-info {
  margin-bottom: 5px;
  box-shadow: 5px 5px 10px 3px rgba(87,89,90,0.08);
  padding: 10px;
  border-radius: 15px;

}

.confirm-pay-submit{
  padding: 8px;
  background-color: #F5AD7D;
  border-radius: 14px;
  color:white;
  border: none;
  box-shadow: 3px 3px 4px 2px rgba(191, 191, 191, 0.5);

}

.confirm-pay-submit:hover{
  background-color: #EBF9FD;
  color:#F5AD7D;
  transition: 0.3s;
}

.continue-shopping-styling{
    padding: 7px;
    padding-top: 7px;

    background-color: #F5AD7D;
    border-radius: 14px;
    color: white;
    border: none;
    box-shadow: 3px 3px 4px 2px rgba(191, 191, 191, 0.5);

    margin-bottom: 2%;
}
.continue-shopping-styling:hover{
  background-color: #EBF9FD;
  color:#F5AD7D;
  transition: 0.3s;
}

#cart-drop {
  position: absolute;
  right: 0;
  top: 0;
}
