.chat{
  font-weight: bold;
  text-align: center;
}

.duck{
background-color: rgb(198, 230, 228);
border-radius: 20px;
height: 50%;
max-width: 800px;
margin:0 auto;
padding: 16px;
}


.response{
 border-bottom-right-radius: 0;
 border-bottom-left-radius: 0;
 padding: 0 30px;
 border-radius: 9px;


}

.message-button{
  text-align: center;

}


.message-response{
background-color:white ;
color: black;
width: 50vw;
}


.message-sent{
  max-width: 56%;
  margin-left: 22%;
  margin-top: 3%;
}


.welcome-chat{
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;

}
.chat-container{
  background-color: white;
  height: 100%;

}
