.nav.flex-column.nav-pills.dash-messages {
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

.nav-link.active.dash-messages-tabs{
  background-color: #4C4B60;
  color: white;
  border-radius: 15px 0px 0px 15px;
}

.nav-link.dash-messages-tabs{
  width: 100%;
  padding-top: 10px;
  color: #4C4B60;
  border-radius: 15px 0px 0px 15px;
}

.nav-link.dash-messages-tabs:hover{
  background-color: #92929F;
}



.responses-box{
  background: rgb(245,171,126);
background: linear-gradient(180deg, rgba(245,171,126,1) 0%, rgba(255,228,168,1) 28%, rgba(255,255,255,1) 100%);
  border-radius: 20px;
  max-width: 800px;
  padding: 20px;
}

.chat-container{
  background-color: white;
  height: 100%;
}

.message-response.mine {
  width: 60%;
  background-color: white;
  text-align: right;
  padding-right: 25px;
}
.message-response.yours {
  width: 60%;
  background-color: #DCDCDC;
  color: white;
  text-align: left;
  padding-left: 25px;
}

.message-container.mine {
  justify-content: right;
  text-align: right;
}

.message-container.yours {
  justify-content: left;
  text-align: left;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.name-time.mine{
margin-left: 72%;
}

