.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-products-overview {
  max-width: 60%;
  height: 100%;
  position: sticky;
  top: 0;
  bottom: 0;

}

.map-home {
  max-width: 100%;
  height: 100%;

}
