.navbar-lewagon {

  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



.random-index{
margin-left: 50%;
}


.button-index-nav{
  padding: 4px;
  background-color: #EBF9FD;
  border-radius: 14px;
  color:orange;
  width: 6%;
  height:3%;

}


.form-control {
    border: 0;
}

.search-wrap{
align-items: center;
border-radius: 20px;
background-color: white;
padding: 8px;
}

.form-control{
  background-color: rgba(232, 232, 232, 0.4);
  border-radius: 6px;

}

.logo-navbar{
  max-height: 1%;
  max-width: 3%;
  margin-left: 2%;
}


