.navbar-lewagon {

  background: white;
}
.index-search-item2{
padding-top:15px;
}
.pages-home .navbar-lewagon {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: transparent;
  .logo-navbar{
   text-shadow: 2px 2px black;
    color:white;
    border-radius: 30px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



.random-index{
margin-left: 50%;
}


.button-index-nav{
  padding: 4px;
  background-color: #EBF9FD;
  border-radius: 14px;
  color:orange;
  width: 6%;
  height:3%;
}

.button-index-nav:hover{
  background-color: #FBAB7E;
  color:#EBF9FD;
  transition: 0.3s;
  width: 8%;
  height: 5%;
}

.form-control {
    border: 0;
}

.search-wrap{
align-items: center;
border-radius: 30px;
background-color: white;
padding: 0px 15px 5px;

}

.form-control{
  background-color: white;
  border-radius: 36px;

}

.logo-navbar{
  max-height: 1%;
  max-width: 3%;
  margin-left: 2%;
}



.navbar-lewagon{
  background-color: #EBF9FD;
}
