.card-shop-ratings{
  border-radius: 13px;
  padding: 20px;
}
.list-group{
  border-radius: 13px;
}

.far.fa-heart:hover {
  color: #79C3BD;
  cursor: pointer;
}
fas.fa-heart.active {
  color: #79C3BD;
}
.card-shop-show > img{
  max-width: 70%;
}
.shop-map{
  width: 40%;
  border-radius: 13px;
}
.search-show-container{
  padding: 10px;
}
.shopping-cart-drop {
  width: 350px;
  padding: 20px;
}
.cart-cards {
  border-top: 0.2px solid lightgrey;
  padding-top: 5px;
}
.grouped-cart-items {
  border: 0.5px solid grey;
  border-radius: 15px;
  padding: 20px;
  background-color: white;
  margin-right: 6px;
}
.show-rating {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 5px;
}
.ratings-title {
}
.scroll-bar-shopfront {
  max-height: 300px;
}

.scrollbar-shopfront {
  max-height: 300px;
}

.shops-show-all {
  background-color: white;
}

.storefront-container {
  padding: 40px;
}

a .back-btn{
  color: #CBF0FE;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.storefront-container h1 {
  font-weight: 400px;
}

.opening-hours {
  padding: 0px;
  margin: 0px;
}

.shops-show-all {
  margin: 20px;
  border-radius: 20px;
}

.shops-show-all-back {
  background-color: #F2FAFC;
  padding: 20px;
}


.card-shop-show {
  padding-top: 10px;
}

.hours {
  padding-left: 20px;
  color: grey;
}

.stock-title {
  padding: 10px;
  border-radius: 10px;
}

.my-Filter {
  border-radius: 20px;
}

.col-sm-12 .card {
  border-radius: 40px;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  border: none;
  box-shadow: 5px 5px 10px 2px rgba(87,89,90,0.02);
}

.col-sm-12 .card h5 {
  font-size: 18px;
}

.col-sm-12 .card h6 {
  font-size: 15px;
}

.cards-title a {
  color: #4C4B60;
  text-transform: capitalize;
}

.add-to-cart {
  border: none;
}

.store-units {
}

.store-price {
  background-color: #F5AD7D;
  color: white;
  border-radius: 15px;
  width: 100px;
}

.store-price h6{
  color: white;
}

button {
  background-color: white;
  border: none;
}

.fa-cart-plus:hover {
  color: #black;
}

.products-title {
  color: #9FD8D4;
  padding: 10px;
  border-radius: 30px;
  justify-content: center;
  margin-bottom: 10px;
}

.search-show-container {
  padding: 5px;
  min-width: 380px;
}

.shopping-cart-drop {
  background-color: white;
}

.btn.cart {
  color: white;
}

.btn.cart:hover .dropdown-menu.shopping-cart-drop {
  display: block;
}

.dropdown-menu.shopping-cart-drop{
  height: 500px;
}


.cart-count {
  background-color: #EB4963;
  border-radius: 50px;
  padding-left: 7px;
  padding-right: 7px;
  position: absolute;
  top: 4%;
  right: 18%;
}

.bring-to-checkout {
  background-color: #F5AD7D;
  text-align: left;
  padding-left: 20px;
  border-radius: 15px;
  margin-top: 5px;
  height: 8%;
}

.bring-to-checkout:hover {
  background-color: #D99264;
}

.bring-to-checkout > a {
  text-decoration: none;
  margin-top: 10px;
  color: white;
}

.bring-to-checkout > a:hover {
  text-decoration: none;
  color: white;
}

.light-blue {
  color: #AFE2F7;
}

.fa-minus-square:hover {
  color: #C5364D;
}

.scrollbar-sunny-morning::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px;
}

.scrollbar-sunny-morning::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5;
}

.scrollbar-sunny-morning::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-image: -webkit-linear-gradient(330deg, #f6d365 0%, #fda085 100%);
background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.scrollbar-sunny-morning {
scrollbar-color: #f6d365 #F5F5F5;
}

.scrollbar-cart {
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 25px;
  margin-right: 20px;
  background-color: #FBFDFE;
  margin-left: 10px;
}


.slide-out-right {
  -webkit-animation: slide-out-right 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-right 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
  }
}

.fa-shopping-cart{
  height: 7%;
}

.leave-a-review-button {
  color: purple;
}

#product_selection_units{
  background-color: rgba(0, 0, 0, 0.07);
  margin-right: 10px;

}



