.storefront-container{
  display: flex;
  }

.card-shop-ratings{
  width: 40%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 13px;
  padding: 20px;
}

.list-group{
  border-radius: 13px;
}

.card-shop-show{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 13px;
  padding: 30px;
}

.likes{
  display: flex;
  justify-content: center;
}

.far.fa-heart:hover {
  color: #79C3BD;
  cursor: pointer;
}


fas.fa-heart.active {
  color: #79C3BD;
}

.card-shop-show > img{
  max-width: 70%;
}


.shop-map{
  width: 40%;
  border-radius: 13px;
}

.search-show-container{
  padding: 10px;
}

.shopping-cart-drop {
  width: 350px;
  padding: 20px;
}

.cart-cards {
  border-top: 0.2px solid lightgrey;
  padding-top: 5px;
}

.grouped-cart-items {
  border: 0.5px solid grey;
  border-radius: 15px;
  padding: 20px;
}

.show-rating {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 5px;
}

.ratings-title {
}

.scroll-bar-shopfront {
  height: 400px;
}
