<% if current_user.ratings_todo %>
  <div class="container-fluid discover-shops-container ratings-dashboard" >
    <h3 class="purple">You shopped with us recently, don't forget to leave a review 🤩</h3>
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
      <% current_user.ratings_todo.each do |shop| %>
        <div class="col-5">
          <div class="card card-block card-4 leave-a-review">
            <h5><%= shop.name %></h5>
            <div class="d-flex flex-wrap justify-content-center">
            <p>Let us know how your experience with &nbsp</p>
            <p class="purple"><%= shop.user.first_name %>
            <%= shop.user.last_name %><p><p>&nbsp went</p>
            </div>
            <%= link_to shop_path(shop) do%>
              <p class="leave-a-review-btn orange"> 🌟 Leave a review🌟</p>
            <% end %>
          </div>
        </div>
      <% end %>


    </div>
  </div>
<% end %>
