<h1>This is the user dashbord</h1>
<% if current_user.shops[0] %>
  <%= render 'shared/shopowner_dashboard' %>
  <%= yield %>
<% else %>
  <%= render 'shared/user_dashboard' %>
  <%= yield %>
<% end %>
